body {
    background-color: rgb(250,250,250);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image {
    margin-top: 50px;
    width: 370px;
   
}

/*770 px is for mobile and tablets, margin is 0 and 10% l/r  */

@media (max-width: 770px) {
    .container {
        margin: 0 10%;
    }
    .image {
        width:100%;
    }
}